@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

$very-dark-blue-main: hsl(217, 54%, 11%);
$very-dark-blue-card: hsl(216, 50%, 16%);
$very-dark-blue-line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  background-color: $very-dark-blue-main;
  font-size: 18px;
}

main {
  display: flex;
  flex-direction: column;
  background-color: $very-dark-blue-card;
  border-radius: 20px;
  padding: 1em;
  gap: 1em;
  // box-shadow:
  max-width: 350px;
}

.img-nft {
  border-radius: 10px;
}

.title {
  color: $white;
  font-size: 20px;
}

.description {
  color: $very-dark-blue-line;
}

.mid-container,
.price-container,
.remaining-time-container,
.creator-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  span {
    margin-left: 5px;
  }
}

.mid-container {
  justify-content: space-between;
}

.creator-container {
  img {
    border-radius: 50%;
    border: white solid;
    width: 50px;
    margin-right: 10px;
  }

  p {
    color: $very-dark-blue-line;

    b {
        color: $white;
    }
  }
}

.price {
    color: cyan;
    font-weight: 600;
}

.time {
  color: $very-dark-blue-line;
}

hr {
  height: 1px;
  background-color: $very-dark-blue-line;
  border: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  color: $white;
  a {
    color: $very-dark-blue-line;
  }
}
